/*item*/
li {
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border: 1px solid #ddd;
    width: 500px;
    margin: 0 auto;
  }
  
  li:before {
    content: initial;
  }
  
  li:last-child {
    border-bottom: none;
  }

  li:hover button{
    display: inline;
  }

  .dtn {
    display: none;
    transition: opacity 0.3s ease-in-out; 
    background-color: red;
    color: white;
  }